.container {
  flex: 2;
  margin-top: 60px;
}

.subTitle {
  color: gray;
  @apply text-base font-normal;
}

.title {
  @apply text-3xl;
}
.items {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.categoryList {
  margin-top: 25px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.categoryItem {
  width: 90px;
  text-align: center;
  padding: 10px 22px;
  border-radius: 10px;
  @apply text-sm;
}

.categoryItem.style {
  background-color: #5734ff31;
}
.categoryItem.fashion {
  background-color: #da85c731;
}
.categoryItem.food {
  background-color: #7fb88133;
}
.categoryItem.travel {
  background-color: #ff795736;
}
.categoryItem.culture {
  background-color: #ffb04f45;
}
.categoryItem.coding {
  background-color: #5e4fff31;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
