.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}
.textContainer {
  flex: 4;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  color: white;
  width: max-content;
  @apply text-xs;
}

.category.travel {
  background-color: #ff7857;
}

.postTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
  @apply text-base;
}

.details {
  @apply text-xs;
}

.date {
  color: gray;
}
