@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
  --softBg: "#f0f0f0";
  --softTextColor: "#626262";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ddd;
    --background: #0f172a;
    --softBg: #1f273a;
    --softtextcolor: #a6a6a6;
  }
}
.light {
  --foreground: #000;
  --background: #fff;
  --softBg: "#f0f0f0";
  --softTextColor: "#626262";
}

.dark {
  --foreground: #ddd;
  --background: #0f172a;
  --softBg: #1f273a;
  --softtextcolor: #a6a6a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  color: var(--foreground);
  background-color: var(--background);
  transition: all;
  transition-duration: 500ms;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg; /*or text-lg */
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}

.container {
  @apply mx-auto;
}

section {
  @apply container max-w-4xl;
}

/* Quill CSS Start */
.ql-container {
  @apply !text-2xl;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
