.container {
  margin-top: 50px;
}
.title {
  color: var(--softTextColor);
  margin-bottom: 30px;
}
.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.input {
  padding: 8px 20px;
  width: 100%;
}
.button {
  padding: 12px 20px;
  background-color: teal;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments{
   margin-top: 50px;
}

.comment{
   margin-bottom: 50px;
}

.userDetails {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.userImageContainer {
  height: 50px;
  position: relative;
  width: 50px;
}

.avator {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  @apply text-lg;
}
